*html{
    font-family: sans-serif;
}

.header{
    background-color:rgb(146, 180, 236) ;
}


#aside{
    background-color:rgb(205, 240, 234);
}

#parrafo{
    font-size: x-large;
    font-weight: 400;
}

footer{
    background-color:whitesmoke;
    margin-top: 70px;
}

main{
    background-color: rgb(189, 230, 241);
}

#contacto{
    padding-top: 20%;
}

#historiaParrafo{
    font-size: x-large;
    font-weight: 400;
}